<%-include('header')-%>
<h1>This is a about me page </h1>
<p>khdbvcljfbkjsfbksf
    kdhcbsdkncodsfbsfbsaifn
    skfjbdsufhdsif odsjhfusdf
    ljdfbuds foisdhufjsdpifsdjf
    4sodufhspdojfusdygfskdifhgsdpof;siufn'oisudf
    sdfousdfnpiosfjjsdoufniosdubfsdkjflu.k sdo;fje
</p>
<%-include('footer')-%>